*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height : 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(./drive-download-20250414T153404Z-001/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* BOX 2*/
.Dto{
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}
.india{
    font-size: white;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*Box 3*/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 650px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/*box 4*/
.language{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Box-5 and 6*/
.sign1{
    font-size: 0.7rem;
}
.sign2{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box 7*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*panel styling*/
.panel{
    height: 40px;
    background-color: #222f3b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option {
    color:white;
    width: 70%;
    font-size: 0.85rem;
}
.panel-option p{
    display: inline;
    margin-left: 15px;
}
.panel-option p:hover{
    border: 1.5px solid white;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/*hero section*/
.hero-section{
    background-image: url(./drive-download-20250414T153404Z-001/hero_image.jpg);
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height: 40px;
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    text-decoration-line: none;
}
/*shop-section*/
.shop-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e7e6;
}
.container{
    height: 810px;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 365px 365px 365px 365px;
    gap: 10px;
    background-color: #e2e7e6;
    padding: 20px 0px 15px;
    
}
.box{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
}
.box-img{
    height: 350px;
    background-size: cover;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box p{
    color: #007185;
    padding-left: 1rem;
}
.box h2{
    padding-left: 1rem;
}
/*footer*/
.foot-panel1 a{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration-line: none;
}
.foot-panel2{
    background-color: #222f3b;
    color: white;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 ul{
    margin-top: 20px;
}
.foot-panel2 a{
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration-line: none;
}
.foot-panel2 a:hover{
    text-decoration-line: underline;
}
.foot-panel2 p{
    font-weight: bold;
}
.foot-panel3{
    background-color: #222f3b;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    border-top: 0.1px solid white;
}
.foot-logo{
    background-image: url(./drive-download-20250414T153404Z-001/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-left: 550px;
}
.foot-lan{
    height: 30px;
    width: 90px;
    margin-left: 130px;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid white;
}
.foot-lan select{
    background-color:#222f3b;
    color: white;
    border: none;
}
.foot-address{
    height: 35px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-left: 5px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 60px;
    font-size: 0.7rem;
    padding-top: 25px;
}
.pages{
    text-align: center;
}
.pages a{
    padding-left: 20px;
}
.copyright{
    padding-top: 5px;
    text-align: center;
}
.pages a:hover{
    text-decoration-line: underline;
}